* {
    margin: 0;
    padding: 0;
}

// header
.here-we-go {
    .header {
        width: 100%;
        background: black;
        height: 50px;
        position: fixed;
        top: 0;
        display: block;
        z-index: 10;

        .row-header {
            width: 1040px;
            display: flex;
            font-size: 12px;
            color: white;
            justify-content: space-between;
            margin: 0 auto;
            height: 100%;
            align-items: center;

            .logo-hwg {
                font-size: 26px;
                font-weight: bold;
                font-family: 'Indie Flower', cursive;
            }

            .menu {
                ul {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    margin-top: 10px;

                    li {
                        display: flex;
                        padding: 0 10px;
                        margin: 0px 10px;

                        &:hover {
                            a {
                                color: white;
                            }
                        }

                        a {
                            color: #DCDCDC;
                            font-weight: bold;
                            text-decoration: none;
                            text-transform: uppercase;
                        }
                    }

                    #baiduthi {
                        position: relative;

                        .submenu {
                            display: block;
                            position: absolute;
                            padding-top: 27px;

                            li {
                                padding-bottom: 5px;
                                width: auto;
                                padding-top: 10px;
                                opacity: 0;
                                background: white;
                                transition: 0.5s;
                                -webkit-transition: 0.5s;
                                -moz-transition: 0.5s;
                                -ms-transition: 0.5s;
                                -o-transition: 0.5s;

                                a {
                                    color: black;
                                    padding-bottom: 5px;
                                    text-align: center;
                                }
                            }
                        }

                        &:hover {
                            .submenu {
                                li {
                                    opacity: 1;
                                    transition: 1s;
                                    -webkit-transition: 1s;
                                    -moz-transition: 1s;
                                    -ms-transition: 1s;
                                    -o-transition: 1s;
                                }
                            }
                        }

                    }
                }
            }

            .btn {
                #btn-login {
                    border: 0 solid #fad123;
                    background: #fad123;
                    color: black;
                    border-radius: 100px;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                    text-transform: uppercase;
                    padding: 2px 10px;
                    font-size: 12px;
                    font-weight: bold;
                    transition: 0.5s;
                    -webkit-transition: 0.5s;
                    -moz-transition: 0.5s;
                    -ms-transition: 0.5s;
                    -o-transition: 0.5s;
                    box-sizing: border-box;
                    outline: none;
                }

                &:hover {
                    #btn-login {
                        background: white;
                        color: black;
                    }
                }

                .icon {
                    display: none;
                }
            }
        }
    }

    .image-header {
        width: 100%;
        height: 500px;
        text-transform: uppercase;
        margin-top: 0;
        position: relative;

        .background-image {
            height: 100vh;
            overflow: hidden;

            img {
                max-width: 100%;
            }

            h2 {
                color: white;
                text-transform: uppercase;
                font-size: 80px;
                font-family: 'Vollkorn', serif;
                display: flex;
                margin-bottom: 70px;
                border-bottom: 2px solid white;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
            }

        }
    }

    .main {
        height: 100%;

        .main-content {
            padding: 210px 50px;
            padding-bottom: 60px;
            height: 100%;
            display: flex;
            justify-content: space-between;

            .main-left {
                width: 260px;
                height: 100%;

                #square-image {
                    margin-bottom: 5px;
                    padding: 10px 0;

                    img {
                        border-radius: 20px;
                        -webkit-border-radius: 20px;
                        -moz-border-radius: 20px;
                        -ms-border-radius: 20px;
                        -o-border-radius: 20px;
                    }
                }

                .members {
                    display: flex;
                    border-bottom: 1px solid #DDDDDD;
                    text-transform: uppercase;
                    padding: 30px 0;
                    font-weight: bold;

                    .avata {
                        margin-right: 25px;

                        #member-1 {
                            width: 100px;
                            height: 100px;
                            object-fit: cover;
                            border-radius: 50px;
                            -webkit-border-radius: 50px;
                            -moz-border-radius: 50px;
                            -ms-border-radius: 50px;
                            -o-border-radius: 50px;
                        }
                    }

                    p {
                        float: right;
                        max-width: 200px;
                    }
                }

                #members1 {
                    border-top: 1px solid #DDDDDD;

                    .info-member {
                        p {
                            width: 100%;

                            &:hover {
                                cursor: pointer;
                                color: #FF8247;
                            }
                        }

                        &>i {
                            font-size: 20px;
                            margin-right: 10px;

                            &:hover {
                                transform: rotate(360deg) scale(1.5);
                                -webkit-transform: rotate(360deg) scale(1.5);
                                -moz-transform: rotate(360deg) scale(1.5);
                                -ms-transform: rotate(360deg) scale(1.5);
                                -o-transform: rotate(360deg) scale(1.5);
                                transition: all 0.3s ease-in;
                                -webkit-transition: all 0.3s ease-in;
                                -moz-transition: all 0.3s ease-in;
                                -ms-transition: all 0.3s ease-in;
                                -o-transition: all 0.3s ease-in;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .btn-like {
                    text-align: center;
                    padding: 15px 0;

                    button {
                        font-size: 12px;
                        font-weight: bold;
                        margin-right: 10px;

                        &:hover {
                            transform: scale(1.2);
                            -webkit-transform: scale(1.2);
                            -moz-transform: scale(1.2);
                            -ms-transform: scale(1.2);
                            -o-transform: scale(1.2);
                            transition: all 0.3s;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            -ms-transition: all 0.3s;
                            -o-transition: all 0.3s;
                        }
                    }
                }

            }

            .main-mid {
                width: 560px;
                position: relative;
                height: 100%;

                .head-content {
                    padding-bottom: 20px;
                    border-bottom: 2px solid black;

                    .head-content-top {
                        text-transform: uppercase;
                        margin-bottom: 50px;

                        p {
                            color: #777777;
                            font-size: 15px;
                            padding-top: 10px;
                        }
                    }

                    .head-content-bot {
                        display: flex;
                        text-transform: uppercase;
                        font-weight: bold;

                        .head-content-bot-1 {
                            margin-right: 50px;
                        }

                        p {
                            color: #777777;
                            font-size: 12px;
                        }
                    }
                }

                .content-title {
                    margin-top: 50px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #DDDDDD;

                    img {
                        max-width: 100%;
                        padding: 6px;
                        border: 1px solid #888888;
                        border-radius: 8px;
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        -ms-border-radius: 8px;
                        -o-border-radius: 8px;
                        margin-bottom: 20px;
                    }

                    p {
                        font-family: 'Noto Serif', serif;
                        color: #777777;
                    }

                    a {
                        font-family: 'Noto Serif', serif;
                        font-weight: 600;
                        text-decoration: none;
                        color: black;

                        &:hover {
                            color: #777777;
                            transition: 0.2s;
                            -webkit-transition: 0.2s;
                            -moz-transition: 0.2s;
                            -ms-transition: 0.2s;
                            -o-transition: 0.2s;
                            text-decoration: none;
                        }
                    }
                }

                .content-main {
                    padding: 40px 0;
                    border-bottom: 1px solid #DDDDDD;

                    .content-main-time {
                        button {
                            margin-right: 10px;
                        }

                        #btn-login {
                            border: 0 solid #fad123;
                            background: #fad123;
                            color: black;
                            border-radius: 100px;
                            -webkit-border-radius: 100px;
                            -moz-border-radius: 100px;
                            -ms-border-radius: 100px;
                            -o-border-radius: 100px;
                            text-transform: uppercase;
                            padding: 2px 10px;
                            font-size: 12px;
                            font-weight: bold;
                            transition: 0.5s;
                            -webkit-transition: 0.5s;
                            -moz-transition: 0.5s;
                            -ms-transition: 0.5s;
                            -o-transition: 0.5s;
                            box-sizing: border-box;
                            outline: none;

                            &:hover {
                                background: black;
                                color: white;
                                transition: 0.5s;
                                -webkit-transition: 0.5s;
                                -moz-transition: 0.5s;
                                -ms-transition: 0.5s;
                                -o-transition: 0.5s;
                            }
                        }

                        i {
                            margin-right: 4px;
                            border-radius: 20px;
                            -webkit-border-radius: 20px;
                            -moz-border-radius: 20px;
                            -ms-border-radius: 20px;
                            -o-border-radius: 20px;
                            padding: 8px;
                            background: #BBBBBB;
                            font-size: 12px;
                            color: white;
                        }

                        #btn-facebook {
                            &:hover {
                                background: blue;
                                cursor: pointer;
                            }
                        }

                        #btn-comment {
                            &:hover {
                                background: yellow;
                                cursor: pointer;
                            }
                        }

                        p {
                            padding: 15px 0;
                            font-size: 15px;
                            text-align: justify;
                        }

                        .row-image {
                            img {
                                padding: 5px 0;
                                position: relative;
                            }

                            .image-single {
                                img {
                                    width: 100%;
                                }
                            }

                            .image-double {
                                display: flex;


                                #image-4 {
                                    margin-right: 3px;
                                    width: 55%;
                                    height: 250px;
                                }

                                #image-5 {
                                    height: 250px;
                                    max-width: 44.5%;
                                }
                            }
                        }
                    }
                }
            }

            .main-right {
                height: 100%;

                p {
                    text-align: center;
                    margin-top: 20px;
                    font-weight: bold;
                    color: #AAAAAA;
                    position: relative;
                    height: 100%;
                }

                button {
                    padding: 10px 0;
                    font-size: 18px;
                    background: #fad123;
                    text-align: center;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                    height: 70px;
                    width: 70px;
                    border: none;
                    color: black;
                    font-weight: bold;

                    &:hover {
                        background: white;
                        color: black;
                        transition: 0.2s;
                        -webkit-transition: 0.2s;
                        -moz-transition: 0.2s;
                        -ms-transition: 0.2s;
                        -o-transition: 0.2s;
                        border: 1px solid #DDDDDD;
                    }
                }
            }
        }
    }

}

footer {
    margin: 0 auto;
    width: 1140px;
    padding: 5px 50px;
    border-top: none;
    text-align: center;
    text-transform: uppercase;

    p {
        font-size: 14px;
        font-weight: bold;
        color: #333333;

    }

    img {
        width: 40%;
        height: 50px;
    }

    h5 {
        margin-top: 80px;
        margin-bottom: 50px;
        font-family: 'Noto Serif', serif;
        color: #777777;
        font-size: 18px;
    }
}